body {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Barre de navigation */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    position: sticky;
    top: 0;
}

nav h1 {
    font-size: 22px;
}

nav .onglets {
    display: flex;
    flex-wrap: wrap;
}

nav .onglets p {
    font-size: 18px;
    margin-right: 12px;
    cursor: pointer;
}

nav .onglets input {
    margin: 8px 17px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

/* Fin barre de navigation */

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}

header button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: 'Fira Sans Condensed', sans-serif;
}
/* Fin header */

/* Section principale */
.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Cartes */
.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards .card {
    margin-right: 50px;
    cursor: pointer;
}

.cards .card img {
    width: 350px;
}

.cards .card .card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card .card-body  p{
    margin-top: -10px;
}
/* Fin cartes */

/* Vidéo de présentation */
.main .video {
    margin-top: 80px;
    width: 90%;
}

.main .video iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 500px;
}
/* video deprésentation */
/* Fin section princopale */

/* Pied de page */
footer {
    margin-top: 100px;
    background-color: #000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

footer .social-media {
    display: flex;
}

footer .social-media p {
    margin-right: 15px;
    text-align: center;
}
/* Fin pied de page */